.edd_downloads_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.edd_download {
  padding-left: 15px;
  padding-right: 15px; }

.edd_purchase_submit_wrapper input.edd-add-to-cart {
  display: none; }

.editor-block-list__layout .editor-block-list__block[data-type="easydigitaldownloads/downloads"] h3 {
  font-size: 18px; }

#edd_download_pagination {
  display: block;
  width: 100%; }

@media only screen and (min-width: 1200px) {
  .edd_download_columns_1 .edd_download {
    width: 100%; }
  .edd_download_columns_2 .edd_download {
    width: 50%; }
  .edd_download_columns_3 .edd_download {
    width: 33.3333333333%; }
  .edd_download_columns_4 .edd_download {
    width: 25%; } }
