.wp-block-easydigitaldownloads-download-categories {

}

.editor-block-list__layout .editor-block-list__block[data-type="easydigitaldownloads/download-categories"] {

	&[data-align="full"] .edd-download-categories {
		margin: 0;
	}

}

.edd-download-categories {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	* {
		box-sizing: border-box;
	}

	p {
		margin: 0;
	}

	div {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		min-height: 1px;
		position: relative;
		margin-bottom: 2rem;
	}

	// 1 column.
	&.columns-1 div {
		flex: 0 0 100%;
		max-width: 100%;
	}

	// 2 columns.
	&.columns-2 div {
		flex: 0 0 50%;
		max-width: 50%;
	}

	// 3 columns.
	&.columns-3 div {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
	
	// 4 columns.
	&.columns-4 div {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.edd-download-category-thumbnail {
		background: #f7f7f7;
		width: 100%;
		height: 150px;
		padding: 1rem;
		display: block;
	}
}