// Admin styling

@import 'grid';
@import 'download-categories';

// Admin CSS.
.editor-block-list__layout .editor-block-list__block[data-block-type="easy-digital-downloads"][data-align="full"] .edd_downloads_list {
	padding-left: 2rem;
	padding-right: 2rem;
}

.edd_downloads_list {

	p, h3 {
		margin: 0;
	}
}